/*Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


/*shared styles*/
body,
.btn-primary {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    border-radius: 41px;
    padding: 15px 25px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

/* header styles */
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3A3A3A;
}

header nav h2 {
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

.banner {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content {
    width: 40%;
}

.banner-content h1 {
    font-size: 3.25rem;
    margin-bottom: 0px;
}

.banner-img {
    width: 40%;
    background-image: url('../images/circle-design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* sponsor section styles */
.sponsor-section{
    margin: 70px 0;
}
.border {
    margin: 0 auto;
    width: 1110px;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}
.sponsors{
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

/* media queries */

/* mobile devices */
@media screen and (max-width:576px) {
    header nav {
        flex-direction: column;
    }

    nav ul {
        padding-left: 0px;
    }

    nav ul li:nth-child(3),
    li:nth-child(5) {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }

    .banner-content .btn-primary {
        margin: 0 auto;
    }

    .banner-content h1 {
        font-size: 1.75rem;
    }

    .banner-content p {
        font-size: 0.875rem;
    }

    .banner-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .border{
        display: none;
    }

    .sponsors{
        flex-wrap: wrap;
    }

}

/* tablet and medium devices */
@media screen and (min-width:576px) and (max-width: 992px) {
    header nav {
        flex-direction: column;
    }

    nav ul {
        padding-left: 0px;
    }

    .banner {
        flex-direction: column;
    }

    .banner-content {
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .banner-content .btn-primary {
        margin: 0 auto;
    }

    .banner-content h1 {
        font-size: 1.75rem;
    }

    .banner-content p {
        font-size: 0.875rem;
    }

    .banner-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .border{
        display: none;
    }
    
    .sponsors{
        flex-wrap: wrap;
    }
}